nav a{
    float: left;    
}
nav{
    background-color: rgb(59, 59, 59);
    height: 60px;
}

dl{
    float: right;
    margin-right: 50px;
}
#nav-item{
    float: left;
    margin-left: 20px;
    color: rgb(206, 203, 15);

}

main #first-section-content{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    /* background-color: aquamarine; */
}
main section:nth-child(1){
    background-color: gray;
    padding: 30px;
}
main #second-section-spacer{
    width: 10%;
    display: inline-block;}

main .feature-section{
    text-align: center;
    display: inline-block;
    width: 33%;
}

section img{

}